<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Options</comment>
<entry key="Forward">W</entry>
<entry key="Jump">Space</entry>
<entry key="Run">Shift</entry>
<entry key="TurnRight">Right</entry>
<entry key="TurnLeft">Left</entry>
<entry key="Left">A</entry>
<entry key="Brightness">50</entry>
<entry key="Right">D</entry>
<entry key="Sensitivity">50</entry>
<entry key="Volume">50</entry>
<entry key="Back">S</entry>
</properties>
